<h1>Oils</h1>
<h2>Please type the oils you have in your kitchen. Oils include vegetable oil, olive oil, sesame oil etc. </h2>
<% if local_assigns.has_key? :status_msg %>
    <p><%= status_msg %></p>
<% end %>
<%= form_with scope: "oils", url: input_oils_path, method: :put do |form|%>

    <div>
        <%= label_tag ("input 1")%>
        <%= form.text_field :input1 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 2")%>
        <%= form.text_field :input2 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 3")%>
        <%= form.text_field :input3 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 4")%>
        <%= form.text_field :input4%>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 5")%>
        <%= form.text_field :input5 %>
    </div>

    <br>
    <%= submit_tag 'Submit'%>
<% end %>


<p><%= link_to 'Back', protein_path%></p>
<p><%= link_to 'Next', starch_path %></p>
<p><%= link_to 'Home', index_path%></p>
