<h1>Protein</h1>
<h2>Please type what proteins you have in your kitchen. An example of a protein is chicken, beef, tofu and beans. </h2>
<% if local_assigns.has_key? :status_msg %>
    <p><%= status_msg %></p>
<% end %>
<%= form_with scope: "protein", url: input_protein_path, method: :put do |form|%>

    <div>
        <%= label_tag ("input 1")%>
        <%= form.text_field :input1 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 2")%>
        <%= form.text_field :input2 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 3")%>
        <%= form.text_field :input3 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 4")%>
        <%= form.text_field :input4%>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 5")%>
        <%= form.text_field :input5 %>
    </div>

    <br>
    <%= form.submit 'Submit'%>
    
    
<% end %>

<%#@input1 = params[:input1] %>
<%#@input2 = params[:input2] %>
<%#@input3 = params[:input3] %>
<%#@input4 = params[:input4] %>
<%#@input5 = params[:input5] %>
<%#recipe=Recipe1.new(protein: [@input1.to_s,  @input2.to_s, @input3.to_s, @input4.to_s, @input5.to_s])%>
<%#recipe.save%>

<p><%= link_to 'Back', index_path%></p>


