<html>
<head>
<style><%= stylesheet_link_tag 'forms.css'%></style>
<h1>Starch</h1>
<h2>Please type what starches you have in your kitchen. A starch includes pasta, rice and potatoes. </h2>
</head>
<body>
<main>
<% if local_assigns.has_key? :status_msg %>
    <p><%= status_msg %></p>
<% end %>
<%= form_with scope: "starch", url: input_starch_path, method: :put do |form|%>

    <div>
        <%= label_tag ("input 1")%>
        <%= form.text_field :input1 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 2")%>
        <%= form.text_field :input2 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 3")%>
        <%= form.text_field :input3 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 4")%>
        <%= form.text_field :input4%>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 5")%>
        <%= form.text_field :input5 %>
    </div>

    <br>
    <%= form.submit 'Submit'%>
    
    
<% end %>

<p><%= link_to 'Back', oils_path%></p>
<p><%= link_to 'Next', results_path%></p>
</main>
</body>
</html>