<h1>Vegetables</h1>
<h2>Please type what vegetables you have in your kitchen. Fresh vegetables as well as canned and frozen should be included. </h2>
<%= @recipe.%>
<% if local_assigns.has_key? :status_msg %>
    <p><%= status_msg %></p>
<% end %>
<%= form_with scope: "veg", url: input_veg_path, method: :put do |form|%>

    <div>
        <%= label_tag ("input 1")%>
        <%= form.text_field :input1 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 2")%>
        <%= form.text_field :input2 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 3")%>
        <%= form.text_field :input3 %>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 4")%>
        <%= form.text_field :input4%>
        <br><br>
    </div>
    <div>
        <%= label_tag ("input 5")%>
        <%= form.text_field :input5 %>
    </div>

    <br>
    <%= form.submit 'Submit'%>
<%end%>

<p><%= link_to 'Back', protein_path%></p>
<p><%= link_to 'Next', aromatics_path%></p>
<p><%= link_to 'Home', index_path %>
